body{
  margin: 0;
  padding: 0;
  background-color: hsl(234, 29%, 20%);
  
}
main{
  background-color: hsl(0, 0%, 100%);
  border-radius: 20px;
  margin: 100px auto;
  padding: 20px;
  color: hsl(235, 18%, 26%);
  width: 47%;
  display: flex;
}

section{
  display: none;
  background-color: hsl(0, 0%, 100%);;
  border-radius: 20px;
  margin: 100px auto;
  padding: 20px;
  color: hsl(235, 18%, 26%);
  width: 20%;

}
h1{
  font-weight: bold;
  font-size: 30px;
}
.icon{
  margin: 0 8px -6px 0; 
}
input{
  margin: 8px 0;
  padding: 8px 50px;
}
.subscribe-btn{
color:hsl(0, 0%, 100%);
background-color: hsl(235, 18%, 26%);
padding: 15px 35px;
margin: 8px 0;
border-radius: 8px;
font-weight: bold;
border: none;
cursor: pointer;
}
.subscribe-btn:hover{
  background-color: hsl(4, 100%, 67%);
  cursor: pointer;
}
.dismiss{
  color:hsl(0, 0%, 100%) ;
  background-color:hsl(235, 18%, 26%) ;
  padding: 10px 35px;
  border-radius: 8px;
  font-weight: bold;
  border: none;
  cursor: pointer;
}
.dismiss:hover{
  background-color: hsl(4, 100%, 67%);
  cursor: pointer;
}
.message{
  color: red;
  display: none;
}
.mobile{
  display: none;
}
@media screen and (max-width: 1122px){
  .desktop{
    width: 220px;
  }
}
@media screen and (max-width: 1063px){
  main{
    flex-direction: column-reverse;
  }
  .mobile{
    display: flex;
    width: 300px;
  }
  section{
    width: 30%;
  }
  .desktop{
    display: none;
  }
}
@media screen and (max-width: 630px){
  input{
    margin: 10px 0;
    padding: 8px 30px;
  }
  .subscribe-btn{
    padding: 15px 16px;
  }
  .mobile{
    width: 220px;
  }
  section{
    width: 50%;
  }
}
@media screen and (max-width: 500px){
  .subscribe-btn{
    padding: 15px 2px;
  }
  input{
    margin: 10px 0;
    padding: 8px 15px;
  }
}
@media screen and (max-width: 472px){
  .subscribe-btn{
    font-size: 11px;
  }
  input{
    margin: 10px 0;
    padding: 8px 0;
  }
  .mobile{
    width: 170px;
  }
}
